
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1>PLC Form</h1>
                </div>
                <div class="card-body">
                    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="input1" class="form-label">Input 1</label>
                            <input type="number" class="form-control" id="input1" placeholder="input 1" formControlName="input1">
                        </div>
                        <div class="mb-3">
                            <label for="input2" class="form-label">Input 2</label>
                            <input type="number" class="form-control" id="input2" placeholder="input 2" formControlName="input2">
                        </div>
                        <div class="mb-3">
                            <label for="input3" class="form-label">Input 3</label>
                            <input type="number" class="form-control" id="input3" placeholder="input 3" formControlName="input3">
                        </div>
                        <div class="mb-3">
                            <label for="input4" class="form-label">Input 2</label>
                            <input type="number" class="form-control" id="input4" placeholder="input 4" formControlName="input4">
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                        <!-- <button type="button" class="btn btn-danger">Reset</button> -->

                    </form>
                </div>
              </div>
        </div>
        <div class="col-md-6">
            <h1>Hello PLC</h1>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">input 1</th>
                    <th scope="col">input 2</th>
                    <th scope="col">input 3</th>
                    <th scope="col">input 4</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ data.inputs1 }}</td>
                    <td>{{ data.inputs2 }}</td>
                    <td>{{ data.inputs3 }}</td>
                    <td>{{ data.inputs4 }}</td>
                    
                  </tr>
                </tbody>
              </table>

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">address 1</th>
                    <th scope="col">address 2</th>
                    <th scope="col">address 3</th>
                    <th scope="col">address 4</th>
                    <th scope="col">address 5</th>
                    <th scope="col">address 6</th>
                    <th scope="col">address 7</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{datas[0]}}</td>
                    <td>{{datas[1]}}</td>
                    <td>{{datas[2]}}</td>
                    <td>{{datas[3]}}</td>
                    <td>{{datas[4]}}</td>
                    <td>{{datas[5]}}</td>
                    <td>{{datas[6]}}</td>
                    
                  </tr>
                </tbody>
              </table>
        </div>
    </div>

    <div class="row" *ngIf="errors">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="alert alert-danger" role="alert">
               data not submited!!!
              </div>
        </div>
    </div>
</div>

  